.body {
  background: $body-color;
  max-width: 1920px;
  margin: 0;

  @extend %grid;
  grid-template-areas: 'page-content page-content page-content page-content page-content page-content page-content page-content page-content page-content page-content page-content';
}

.page-content {
  grid-area: page-content;
  position: relative;
  height: 100vh;

  @extend %grid;
  grid-template-areas:
    'header header header header header header header header header header header header'
    'main-content-wrapper main-content-wrapper main-content-wrapper main-content-wrapper main-content-wrapper main-content-wrapper main-content-wrapper main-content-wrapper main-content-wrapper main-content-wrapper main-content-wrapper main-content-wrapper'
    'footer footer footer footer footer footer footer footer footer footer footer footer';
}

.header {
  grid-area: header;
  background: gold;
}

.main-content-wrapper {
  grid-area: main-content-wrapper;
  background: burlywood;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  grid-area: footer;
  background: yellowgreen;
}
